<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p><a href="/home/mypage_sel">My Page</a></p>
      <p>즐겨찾는 셀러</p>
    </div>
    <div class="col-md-6">
      <div style="padding:5px; border:1px solid;">
        <p>이름 : </p>
        <p>지역 : </p>
        <p>주요 제품 : </p>
      </div>

      <p><<   M/d oo마켓 참여합니다    >></p>
      <p>-판매 제품-</p>


    </div>
    <div class="col-md-4" style="border-left:5px double">
      <p><댓글 및 후기></p>
      <div style="padding:5px; border:1px solid;">

      </div>
      <hr>
    </div>
  </div>
</div>
